[defaults]
interpreter_python = auto_silent
inventory = inventory.json
force_color = True
gathering = explicit

[ssh_connection]
ssh_args = -o IdentityAgent=<{ agent-socket }> -o IdentitiesOnly=yes -o ForwardAgent=no -o ControlMaster=no -o ControlPersist=no -S none
pipelining = True
